.DeviceFiles {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50px auto 50px;
}

.DeviceFiles a {
  color: black;
}

.DeviceFiles form {
  grid-row: 2;
}

.UtilizationDiv {
  width: 100%;
  grid-row: 3;
}

.UtilizationUsed {
  background-color: red;
  text-align: center;
  display: inline-block;
}

.UtilizationFree {
  background-color: blue;
  color:white;
  text-align: center;
  display: inline-block;
}

.UtilizationTotal {
  clear: both;
  text-align: center;
  align-content: center;
  width:100%;
}