.DeviceFiles {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 50px;
}

.FileActionMessage {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
  vertical-align: middle;
}

.DeviceFiles a {
  color: black;
}

.DeviceFiles form {
  grid-row: 1;
  grid-column: 2;
}

.UtilizationDiv {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.UtilizationUsed {
  background-color: red;
  text-align: center;
  display: inline-block;
}

.UtilizationFree {
  background-color: blue;
  color:white;
  text-align: center;
  display: inline-block;
}

.UtilizationTotal {
  clear: both;
  text-align: center;
  align-content: center;
  width:100%;
}

.FileBrowser {
  display: grid;
  grid-auto-rows: min-content;
  overflow-y: scroll;
}

.DeviceFile div {
  display:inline-block;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}