.DeviceSettings {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30vh auto;
  height: 100%;
  
}

.DeviceSettings a {
  color: black;
}

.DeviceProfile {
  grid-row: 1;
  grid-column: 1 /span 2;
  background-color: lightgray;
  overflow-wrap: break-word;
  border: 1px solid grey;
  padding-left: 3px
}

.UserPreferences {
  grid-row: 2;
  grid-column: 1 ;
  background-color: lightgray;
  overflow-wrap: break-word;
  border: 1px solid grey;
  padding-left: 3px
}

.ChannelSettings {
  grid-row: 2;
  grid-column: 2;
  background-color: lightgray;
  overflow-wrap: break-word;
  border: 1px solid grey;
  padding-left: 3px
}

.SectionHeader {
  font-size: 16pt;
}

.settingLabel {
  font-weight: 600;
}

.settingValue {

}