.Messages {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px;
  height: 100%;
  
}

.Messages a {
  color: black;
}

.MessageHistory {
  grid-row: 1;
  background-color: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.NewMessage {
  background-color: gray;
  grid-row: 2;
}

.NewMessage textarea {
  width: 80%
}

.NewMessage button {
  width: 10%;
  float:right;
  height: 60%;
  margin-right: 20px;
}

