

.SidebarHeader {
    width: 100%;
    text-align: center;
}


.SidebarDiv ul {
    list-style: none;
    padding: 0px;
}

.SidebarDiv li  {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: gray 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.SidebarDiv li:hover {
    background-color: grey;
}

.SidebarDiv li:last-of-type {
    border-bottom: gray 1px solid;
}

.ListItemText  {
  color:white;
  text-decoration: none;
}